:root {
  --color-primary: #0056b3;
  --color-primary-rgb: 0, 86, 179;
  --color-secondary: #6c757d;
  --color-secondary-rgb: 108, 117, 125;
  --color-accent: #ffc107;
  --color-accent-rgb: 255, 193, 7;
  --color-brand-dark: #0D1B2A;
}